<?xml version="1.0" encoding="utf-8" ?>
<Defs>

  <!-- <SRA.EventWindow>
    <defName>Events_Test</defName>
	<ID>1</ID> <- 按ID从小到大的顺序排列对话树 -><- ID为-1者为手动触发 ->
	<priceKind>None</priceKind> <- Primary一级情报，Advanced二级情报，None无需费用 ->
	<priceNum>0</priceNum>
	<questNeedToFinish>GD_PollutionDump</questNeedToFinish> <- 需要完成任务才能进行 ->
	<failed> <- 前置任务失败时，重复接取任务的文本 ->
		<title>3ft</title>
		<dialogue>3f</dialogue>
		<graphic>BScyther_south</graphic>
		<- 按钮是提前定义好的 ->
	</failed>
	<eventTree>
		<li>
			<title>3t</title>
			<dialogue>3d</dialogue>
			<buttons>
				<li>
					<text>continue</text>
					<action>Continue</action> <- Continue继续，End关闭，Back返回，ContinueWithBranch制造分支 ->
					<jumpTo>1</jumpTo> <- 与Continue联用，直接跳跃到第x条对话，通常用于制作选择支 ->
				</li>
				<li>
					<text>end</text>
					<action>End</action> <- Continue继续，End关闭，Back返回，ContinueWithBranch制造分支 ->
					<quest>GD_PollutionDump</quest> <- 发布任务 ->
				</li>
			</buttons>
		</li>
	</eventTree>
  </SRA.EventWindow> -->

  <SRA.EventWindow>
    <defName>Events_Begin</defName>
	<ID>0</ID>
	<priceKind>None</priceKind>
	<priceNum>0</priceNum>
	<eventTree>
		<li>
			<title>通讯测试中</title>
			<dialogue>太酷了，超酷</dialogue>
			<graphic>SRA_Rocivia</graphic>
			<buttons>
				<li>
					<text>这是测试选项一号</text>
					<action>Continue</action>
				</li>
			</buttons>
		</li>
		<li>
			<title>通讯测试中</title>
			<dialogue>唉文本不会不能上色吧</dialogue>
			<graphic>SRA_Rocivia</graphic>
			<buttons>
				<li>
					<text>这是测试选项一号</text>
					<action>End</action>
				</li>
			</buttons>
		</li>
	</eventTree>
  </SRA.EventWindow>
  
</Defs>
